//! Colors -->

//? MainColors -->

$color-primary: #202938;
$color-secondary: #0761dc;
$color-tertiary: #ff04ab;

//? OtherColors -->

$color-bg: #111a23;
$color-white: #fff;
$color-black: #000;
$color-silver: #7a7a7a;
$color-lightsilver: #c4c4c4;
$color-green: #0bda51;
$color-orange: #f08000;
$color-gold: gold;
$color-red: #db0300;

//! FontSize -->

//? HeadingFontSize -->

$title-font: 2.5rem;

//? TextFontSize -->

$text-default-font: 1.6rem;
$text-sm-font: 1.1rem;
$text-lg-font: 2.1rem;

//! FontFamily -->

$font-sans: "DM Sans", sans-serif;
$font-poppins: "Poppins", sans-serif;
$font-rubik: "Rubik", sans-serif;

//! Width & Height -->

$width-content: 95%;
