html {
  font-size: 62.5%;

  @include responsive(Laptop) {
    font-size: 59.5%;
  }
  @include responsive(Th) {
    font-size: 54%;
  }
  @include responsive(Ts) {
    font-size: 51.75%;
  }
  @include responsive(Ph) {
    font-size: 46%;
  }
  @include responsive(Ps) {
    font-size: 41.75%;
  }
  @include responsive(P) {
    font-size: 36.5%;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
li,
ol {
  list-style: none;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  background-color: $color-bg;
  font-family: $font-poppins;
}
